##Topic 3 - Python Structure & Data Type Assignment

# Data Type Declaration

1. > Create an empty variable (Points : 5)

In [ ]:
#Code goes here
minuman=''

2. > Create a variable containing your name (Points : 5)

In [ ]:
#Code goes here
nama='hasna razan'

3. > Create a list of 5 items you can find in the classroom (Points : 5)

In [ ]:
#Code goes here
items:['pulpen','buku','meja','kursi']

4. > Create a dictionary containing 2 keys and value (Points : 5)

In [ ]:
#Code goes here
buku = {
    'mata kuliah':['matematika dasar','statistika dasar'],
    'novel':['5 cm','raksasa dari jojga']    
}
buku

{'mata kuliah': ['matematika dasar', 'statistika dasar'],
 'novel': ['5 cm', 'raksasa dari jojga']}

# Basic Data Operation

You sold 20 pieces of electronics at the price of 12000. The customer gets a total discount of 10%.

Below are those variables:

1.   price=12000
2.   quantity_sold=20
3.   discount=10%


Using Python code, write the code the find the total money that the customer to pay. (Points : 15)

In [ ]:
#Code goes here
price=12000
quantity_sold=20
dis=0.1

#harga total
h1=price*quantity_sold
#harga diskon
h2=h1*dis
#harga yang harus dibayar
h3=h1-h2
h3

216000.0

# List Data Operation

5. > Follow the instructions in the code blocks

In [ ]:
# Create list of countries in the world (total 7 countries) (Points : 5)

#Code goes here
countries=['indonesia','jepang','korea','india','amerika','italia','jerman']
countries

['indonesia', 'jepang', 'korea', 'india', 'amerika', 'italia', 'jerman']

In [ ]:
# Get 4 countries from the first index of the list (Points : 5)

#Code goes here
countries[1:5]

['jepang', 'korea', 'india', 'amerika']

In [ ]:
# Append new country to the list (Points : 5)

#Code goes here
countries.append('kanada')
countries

['indonesia',
 'jepang',
 'korea',
 'india',
 'amerika',
 'italia',
 'jerman',
 'kanada']

In [ ]:
# Drop one country from the list (Points : 5)

#Code goes here
countries.remove('amerika')
countries

['indonesia', 'jepang', 'korea', 'india', 'italia', 'jerman', 'kanada']

In [ ]:
# Get country in the last index (Points : 5)

#Code goes here
countries[6]

'kanada'

# Dictionary Data Operation

6. >  Follow the instructions below

In [ ]:
# Given the dictionary below

customer={
    "name":['Dio','Eka','Wayu','Riki'],
    "age":[20,19,24,39],
    "gender":[1,0,0,1],
    "membership":['Platinum','Gold','Silver','Silver']
}

{'age': [20, 19, 24, 39],
 'gender': [1, 0, 0, 1],
 'membership': ['Platinum', 'Gold', 'Silver', 'Silver'],
 'name': ['Dio', 'Eka', 'Wayu', 'Riki']}

In [ ]:
# Print all keys in customer (Points : 5)

#Code goes here
customer.keys()

dict_keys(['name', 'age', 'gender', 'membership'])

In [ ]:
# Print all customer names (Points : 5)

#Code goes here
customer["name"]

['Dio', 'Eka', 'Wayu', 'Riki']

In [ ]:
# Print the first customer name (Points : 5)

#Code goes here
customer["name"][0]

'Dio'

In [ ]:
# Drop "age" key from the dictionary (Points : 5)

#Code goes here
del customer["age"]

In [ ]:
customer

{'gender': [1, 0, 0, 1],
 'membership': ['Platinum', 'Gold', 'Silver', 'Silver'],
 'name': ['Dio', 'Eka', 'Wayu', 'Riki']}

In [ ]:
# Replace customer gender list value (Points : 20)
# gender 1 => Male
# gender 0 => Female 


#Code goes here
customer["gender"]=["Male","Female","Female","Male"]
customer

{'gender': ['Male', 'Female', 'Female', 'Male'],
 'membership': ['Platinum', 'Gold', 'Silver', 'Silver'],
 'name': ['Dio', 'Eka', 'Wayu', 'Riki']}